<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles.css" rel="stylesheet" type="text/css">
    <title>Editar Pedido</title>
</head>
<body>
<div class="header">
	<h1> HOODERS </h1>
	<form th:action="@{/cerrarSesion}">
		<input type="submit" value="Cerrar Sesion" class="boton">
	</form>
</div>
<div class="contenedorMensa">
<h1>Editar mi pedido</h1>
<h4>Pedido con referencia <span th:text="${pedido.referencia}"></span></h4>
	</div>
<div class="cuadrado">
<form th:action="@{/editarPedido/realizarCambios/{refe}(refe =${pedido.referencia})}" method="POST">
	
    <table>
	<tr>
		<th>Nombre</th>
		<th>Cantidad</th>
	</tr>
	<tr th:each="producto : ${pedido.listaProductos}">
		<td th:text="${producto.key.nombre}"></td>
        <td ><input type="number" name="cantidades" th:value="${producto.value}"/> <input type="hidden" name="productos" th:value="${producto.key.id}"/></td>      
	</tr>
	</table>
    <table>
    	<tr>
    		<th>Teléfono</th>
    		<th>Dirección envio</th>
    		<th>Email</th>
    		<th>Envio</th>
    	</tr>
    	<tr>
    	<td><input type="text" name="telefono" th:value="${pedido.telefono}"/></td>
     	<td><input type="text" name="direccion" th:value="${pedido.direccion}"/></td>
     	<td><input type="text" name="email" th:value="${pedido.email}"/></td>
		<td>
		<input type="radio" id="estandar" name="envio" value="ESTANDAR" checked>
  		<label for="estandar">Estandar</label>

  		<input type="radio" id="express" name="envio" value="EXPRESS">
  		<label for="express">Express</label>
  		<input type="hidden" th:value="${pedido.referencia}" name="ref">
		</td>
    	</tr>
    </table>
    
    <h3 th:text="${errorEditar}"></h3>
    <input type="submit" value="Editar Pedido" class="boton">
</form>
</div>
</body>
</html>